<section class="article">
  <div class="container article-container">
    <div class="article-wrapper-text">
      <h2 class="section-title article-title">
        Welcome to Booksy - your cozy corner for handpicked reads.
      </h2>
      <p class="main-text article-text">
        We believe books are more than just stories — they're companions,
        doorways, and memories. Whether you're chasing adventures or quiet
        moments, we're here to help you find your next favorite book.
      </p>
    </div>
    <div class="article-wrapper-img">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/article/article-desk-min.jpg   1x,
            /img/article/article-desk2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/article/article-tab-min.jpg   1x,
            /img/article/article-tab2x-min.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            /img/article/article-mob-min.jpg   1x,
            /img/article/article-mob2x-min.jpg 2x
          "
        />
        <img
          class="article-image"
          src="/img/article/article-mob-min.jpg"
          alt="Cozy reading corner in a bookshop"
        />
      </picture>
    </div>
  </div>
</section>
