<header>
  <div class="container">
    <div class="header-container">
      <div class="header-container-wrapper">
        <a class="header-logo" href="./index.html">
          <svg class="icon-logo">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <nav class="header-nav">
          <ul class="header-nav-list">
            <li><a class="header-nav-link" href="#">Home</a></li>
            <li><a class="header-nav-link" href="#books">Books</a></li>
            <li><a class="header-nav-link" href="#feedbacks">Feedbacks</a></li>
            <li><a class="header-nav-link" href="#events">Events</a></li>
            <li><a class="header-nav-link" href="#location">Location</a></li>
          </ul>
        </nav>
        <button class="header-btn burger-js">
          <svg class="header-burger-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-half-burger"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="header-menu">
    <div class="container">
      <div class="header-container">
        <a class="header-logo" href="./index.html">
          <svg class="icon-logo" width="80" height="40">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <button class="header-btn close-js">
          <svg class="header-close-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <nav class="header-menu-nav">
        <ul class="header-menu-nav-list">
          <li class="header-menu-nav-item">
            <a class="header-nav-link" href="./index.html">Home</a>
          </li>
          <li class="header-menu-nav-item">
            <a class="header-nav-link" href="#books">Books</a>
          </li>
          <li class="header-menu-nav-item">
            <a class="header-nav-link" href="#feedbacks">Feedbacks</a>
          </li>
          <li class="header-menu-nav-item">
            <a class="header-nav-link" href="#events">Events</a>
          </li>
          <li class="header-menu-nav-item">
            <a class="header-nav-link" href="#location">Location</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
