<section class="hero">
    <div class="container">
        <div class="hero-slider">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="/img/hero/banner1-desk@1x.png 1x, /img/hero/banner1-desk@2x.png 2x" />
                        <source media="(min-width: 768px)"
                            srcset="/img/hero/banner1-tab@1x.png 1x, /img/hero/banner1-tab@2x.png 2x" />
                        <img src="/img/hero/banner1-mob@1x.png"
                            srcset="/img/hero/banner1-mob@1x.png 1x, /img/hero/banner1-mob@2x.png 2x"
                            alt="Cozy reading scene with mug and book" loading="lazy" decoding="async" />
                    </picture>
                    <div class="slide-text">
                        <h2>Get 10% off your first order</h2>
                        <a href="#books">Shop Now!</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="/img/hero/baner2-desk@1x.png 1x, /img/hero/baner2-desk@2x.png 2x" />
                        <source media="(min-width: 768px)"
                            srcset="/img/hero/banner2-tab@1x.png 1x, /img/hero/banner2-tab@2x.png 2x" />
                        <img src="/img/hero/banner2-mob@1x.png"
                            srcset="/img/hero/banner2-mob@1x.png 1x, /img/hero/banner2-mob@2x.png 2x"
                            alt="Cozy reading scene with mug and book" loading="lazy" decoding="async" />
                    </picture>
                    <div class="slide-text">
                        <h2>Save 15% on some books</h2>
                        <a href="#books">Shop Now!</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="/img/hero/baner3-desk@1x.png 1x, /img/hero/baner3-desk@2x.png 2x" />
                        <source media="(min-width: 768px)"
                            srcset="/img/hero/baner3-tab@1x.png 1x, /img/hero/baner3-tab@2x.png 2x" />
                        <img src="/img/hero/baner3-mob@1x.png"
                            srcset="/img/hero/baner3-mob@1x.png 1x, /img/hero/baner3-mob@2x.png 2x"
                            alt="Cozy reading scene with mug and book" loading="lazy" decoding="async" />
                    </picture>
                    <div class="slide-text">
                        <h2>Summer Sale! Up to -40% discounts</h2>
                        <a href="#books">Shop Now!</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <picture>
                        <source media="(min-width: 1440px)"
                            srcset="/img/hero/baner4-desk@1x.png 1x, /img/hero/baner4-desk@2x.png 2x" />
                        <source media="(min-width: 768px)"
                            srcset="/img/hero/baner4-tab@1x.png 1x, /img/hero/baner4-tab@2x.png 2x" />
                        <img src="/img/hero/baner4-mob@1x.png"
                            srcset="/img/hero/baner4-mob@1x.png 1x, /img/hero/baner4-mob@2x.png 2x"
                            alt="Cozy reading scene with mug and book" loading="lazy" decoding="async" />
                    </picture>
                    <div class="slide-text">
                        <h2>Last chance to buy our spring bestsellers</h2>
                        <a href="#books">Shop Now!</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="hero-footer">
            <div class="slider-nav">
                <button class="slider-button prev btn-arrow" disabled>
                    <svg class="btn-arrow-icon swiper-svg-button-prev" width="14" height="14">
                        <use href="/img/icons.svg#icon-arrow-left"></use>
                    </svg>
                </button>
                <button class="slider-button next btn-arrow">
                    <svg class="btn-arrow-icon swiper-svg-button-next" width="14" height="14">
                        <use href="/img/icons.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
            <h1>Discover Your Next Great Read Today!</h1>
        </div>
    </div>
</section>