<section class="location" id="location">
  <div class="container">
    <div class="location-top">
      <div class="location-container">
        <p class="location-subtitle">Location</p>
        <h2 class="section-title location-title">How to find us</h2>
        <p class="main-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </div>
      <ul class="location-contacts">
        <li class="location-contacts-item">
          <svg class="location-contacts-icon" width="20" height="17">
            <use href="./img/icons.svg#icon-email"></use>
          </svg>
          <div class="location-contacts-info">
            <p class="location-contacts-text">Email</p>
            <a href="mailto:hello@booksy.com" class="location-contacts-link"
              >hello@booksy.com</a
            >
          </div>
        </li>
        <li class="location-contacts-item">
          <svg class="location-contacts-icon" width="19" height="20">
            <use href="./img/icons.svg#icon-phone"></use>
          </svg>
          <div class="location-contacts-info">
            <p class="location-contacts-text">Phone</p>
            <a href="tel:+612413043012" class="location-contacts-link"
              >+61 (241) 304-3012</a
            >
          </div>
        </li>
        <li class="location-contacts-item">
          <svg class="location-contacts-icon" width="16" height="21">
            <use href="./img/icons.svg#icon-location"></use>
          </svg>
          <div class="location-contacts-info">
            <p class="location-contacts-text">Office</p>
            <address class="location-contacts-address">
              123 Books St, Sydney NSW 2000 AU
            </address>
          </div>
        </li>
      </ul>
    </div>
    <div class="location-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3349.261848909057!2d151.7071791!3d-32.9176794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b73155e3e7420dd%3A0x8a563884360e3fd0!2s123%20Books!5e0!3m2!1suk!2sge!4v1760025999011!5m2!1suk!2sge"
        width="343"
        height="395"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
