<div class="contact-modal-overlay">
  <div class="contact-modal">
    <button type="button" class="close-btn">
      <svg class="close-icon" width="8" height="8">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Register</h2>
    <p class="modal-paragraph"></p>
    <form class="contact-form" name="client-form" autocomplete="on" novalidate>
      <div class="contact-form-input">
        <label class="contact-label" for="user-name">Name*</label>
        <input
          type="text"
          class="contact-input"
          name="name"
          id="user-name"
          required
          placeholder="Ann"
        />
        <p class="error-message"></p>
      </div>
      <div class="contact-form-input">
        <label class="contact-label" for="user-email">Email*</label>
        <input
          type="email"
          class="contact-input"
          name="email"
          id="user-email"
          required
          placeholder="hello@booksy.com"
        />
        <p class="error-message"></p>
      </div>
      <div class="contact-textarea-wrapper">
        <label class="contact-label" for="user-comment">Comment </label>
        <textarea
          class="contact-textarea"
          name="user-comment"
          id="user-comment"
          placeholder=" your message..."
        ></textarea>
      </div>
      <button class="btn-orange send-btn" type="submit">Register</button>
    </form>
  </div>
</div>
