/* Styles for Mobile devices */
/* Sticky header  position */
.header-container {
  position: fixed;
  top: 0;
  left: 50%;
  background-color: #fceee6;
  transform: translateX(-50%);
  padding: 0 16px;
  width: 100%;
  max-width: 375px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body.menu-open {
  overflow-y: hidden;
}
.header-menu.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

.icon-logo {
  fill: #010100;
}
.header-btn {
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
}
.header-burger-icon {
  fill: #010100;
  width: 16px;
  height: 12px;
}

/* Mobile menu */
.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: #fceee6;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header-menu-nav-item {
  text-align: center;
}
.header-close-icon {
  width: 12px;
  height: 12px;
}
.header-nav-link {
  transition: color 0.2s ease;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #ea8d50;
  outline: none;
  background: none;
}

/* Only mobile devices */
@media (max-width: 767px) {
  .header-container {
    height: 64px;
  }
  .header-menu-nav {
    padding-top: 16px;
    margin-top: 64px;
  }
  main {
    margin-top: 64px;
  }

  .header-nav-list {
    display: none;
  }
  .icon-logo {
    width: 84px;
    height: 36px;
  }
  .header-nav-link {
    font-weight: 500;
    font-size: 20px;
  }
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  main {
    margin-top: 72px;
  }
  .header-container {
    max-width: 768px;
    padding: 0 32px;
    height: 72px;
  }
  .header-nav-list {
    display: flex;
    gap: 32px;
  }
  .header-menu,
  .header-btn {
    display: none;
  }
  .icon-logo {
    width: 80px;
    height: 40px;
  }
  .header-nav-link {
    font-size: 16px;
    line-height: 1.5;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .header-container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
